{% include "templates/frontend/includes/header.html" %}

{% load static %}



<main id="main" class="main-box">

    

    <!-- ======= Contact Section ======= -->
    <section class="page-content">
      <div class="container-fluid">

        <div class="row d-flex justify-content-center">

         
          <div class=" machine-bg">

            {% include "templates/frontend/includes/user-nav.html" %}
            

            <div class="request-title-bg text-center">
                    <a class="btn btn-request " href="/worker/requests">Unsolved Request</a>
                
                    <a class="btn btn-request active" href="/worker/solved-requests">Solved Request</a>

            </div>
            <div>
             
                  {% for row in unsolved_request %}
                    <a href="/worker/request-details/{{ row.req_id }}">
                        <div class="row request-list page-white d-flex justify-content-between">
                            <span class="font-weight-bold text-orange">{{ row.subject }}</span> <span class="text-dark">{{ row.req_date|date:"D d M Y H:i A" }}</span>
                        </div>
                    </a>
                  {% endfor %}
              </div> 


              
     


          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



{% include "templates/frontend/worker/includes/nav.html" %}
{% include "templates/frontend/includes/footer-dashboard.html" %}