{% include "templates/frontend/includes/header.html" %}
{% include "templates/frontend/includes/nav.html" %}
{% load static %}



<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container pb-20 pt-20">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Books History</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Books</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row d-flex justify-content-center">

         


          <div class="col-lg-12 mt-5 mt-lg-0">
            <div class="table-responsive">

            <table class="table table-bordered ">
              <thead>
                <tr>
                  <th>Book Title </th>
                  <th>Book Author</th>
                  <th>Book Category</th>
                  <th>Collected Date</th>
                  <th>Date to Return</th>
                  <th>Book Status</th>

              
                </tr>
              </thead>
              <tbody>
              {% for book in books %}
                <tr>
                  <td>{{ book.book_title }}</td>
                  <td>{{ book.book_author}}</td>
                  <td>{{ book.book_category }}</td>
                  <td>{{ book.date_collected }}</td>
                  <td>{{ book.date_return }}</td>
                  <td>
                    {% if book.book_status == "out" %}
                        <h5>Book NOT Returned</h5>
                    {% else %}
                         <h5>Book Returned</h5>
                    {% endif %}
                  </td>
              
                </tr>
            {% endfor %}
               
              </tbody>
            </table>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



{% include "templates/frontend/includes/footer.html" %}