{% include "templates/frontend/includes/header.html" %}

{% load static %}



<main id="main" class="mt-50 main-box">

    

    <!-- ======= Contact Section ======= -->
    <section class="page-content">
      <div class="container">

        <div class="row d-flex justify-content-center">

         
          <div class="col-lg-12 machine-bg">

            {% include "templates/frontend/includes/user-nav.html" %}
            
            <div class="row mb-3">
              <div class="col-12 text-center">
                <div class="font-weight-bold pl-3">Request List</div>
              </div>
            </div>

            {% for row in request %}
            <div class="row mt-2 mb-3 page-white">
              
              <div class="col-10 machine-list">
                <div class="machine-items"><span class="machine-bold">{{ row.subject }}  | </span>{{row.request_status}} </div>
                
              </div>
              <div class="col-2">
                <div class="dropdown ">
                  <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/expert/chat/{{ row.machine_id.id }}/{{ row.req_id }}">Chat with Worker</a>
                    <a class="dropdown-item" href="/expert/serviceman-chat/{{ row.machine_id.machine_expert.id }}/{{ row.machine_id.id }}">Chat with Serviceman</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}



          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



{% include "templates/frontend/expert/includes/nav.html" %}
{% include "templates/frontend/includes/footer-dashboard.html" %}