.btn-outline {
  color: #FFF;
  background: #d74815;
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 20px;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  background: #F9700B;
  color: #ffffff;
  border-color: #000;
  
}

.btn-orange {
  color: #FFF;
  background: #d74815;
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 10px;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus,
.btn-orange.active {
  background: #F9700B;
  color: #000;
  border-color: #FFF;
  
}

.btn-light-orange {
  background: #F9700B;
  color: #000;
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 10px;
}

.btn-light-orange:hover,
.btn-light-orange:active,
.btn-light-orange:focus,
.btn-light-orange.active {
  color: #FFF;
  background: #d74815;
  border-color: #FFF;

}

.btn-show{
  background: #EFE9E9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 88.5%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #000000;
  height: 40px;
  width: 180px;
}

.tv-app{
  background: linear-gradient(91.86deg, #FBE9E9 40.87%, rgba(207, 201, 201, 0.96) 71.9%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-weight: 600;
  }

  .btn-red{
  background: #B43D3D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  line-height: 88.5%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #FFF;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red.active {
  background: #FFF;
  color: #B43D3D;
  border-color: #B43D3D;
  
}

@media (min-width: 320px) and (max-width: 767.95px) {

    .btn-orange{
      width: 100%;
      margin-bottom: 10px;
    }

    .btn-outline {
      border: 5px solid #000000;
      font-weight: bold;
      letter-spacing: 0px;
      text-transform: uppercase;
      font-size: 12px;
    }

  .btn-show{
    background: #EFE9E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 9px;
    line-height: 88.5%;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #000000;
    height: 24px;
    width: 90px;
    margin-top: 0px;
   
  }

}