body{
	font-family: 'Poppins', sans-serif !important;
	background: #fbebf1;
	
}
.bg-orange{
	background: #d74815 !important;
}
.page-content{
	padding: 10PX;
	
}
.login-buttons{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
.machine-bg{
	width: 80%;
	margin-right:auto;
	margin-left: auto;

}

.machine-bg2{

	width: 80%;
	margin-right:auto;
	margin-left: auto;
}

.page-white{
	background-color: #FFF;
	border-radius: 20px;
}

.page-call{
	border-radius: 20px;
	height: 90vh;
}

.page-call img{
	border-radius: 20px;
	width: 100%;
	height: 85vh;
}

.call-button{
	margin-top: 10px;
	padding-bottom: 20px;
}

.home{
	background-image: url("/static/frontend/images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 5%;
	padding-bottom: 8%;
	margin-bottom: -20px;
	height: 500px;
}

footer{
	background: #fbebf1;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}

.text-gray{
	color: #CCC !important;
}

.text-black{
	color: #000 !important;
}
.text-orange{
	color: #d74815 !important;
}
.text-orange a{
	color: #d74815 !important;
	text-decoration: none;
}

.btn-orange {
  color: #FFF;
  background: #d74815;
  letter-spacing: 0px;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 40px;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus,
.btn-orange.active {
  background: #fbe5d6;
  color: #000;
  border-color: #d74815;
}

.btn-request {
  color: #FFF;
  background: #d74815;
  letter-spacing: 0px;
  font-size: 14px;
  border-radius: 20px;
  padding: 15px 80px;
  font-weight: bold;
}

.btn-request:hover{
	background: #d74815;
	color: #FFF;
}

.btn-request:active,
.btn-request:focus,
.btn-request.active {
  background: #fbe5d6;
  color: #000;
  border-color: #fbe5d6;
}

.btn-light-orange {
  background: #fbe5d6;
  color: #000;
  letter-spacing: 0px;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 40px;
}

.btn-light-orange:hover,
.btn-light-orange:active,
.btn-light-orange:focus,
.btn-light-orange.active {
  color: #FFF;
  background: #d74815;
  border-color: #FFF;

}

.btn-big{
	width: 250px !important;
}

.toggle-button{
	text-align: right;
	padding-top: 3%;
}

.toggle-button-2{
	text-align: right;
	padding-top: 1%;
}

.login-form span {
    margin-left: -50px;
    cursor: pointer;
}
form label{
	display: block !important;
	color: #999;
}

.login-form input[type=text], input[type=password]{
	outline: 0;
  border-width: 0 0 2px;
  border-color: grey;
  width: 100%;
  background: #fff;
}

.login-form input:focus {
  border-color: #fbebf1;
}

.social-icon .fa{
	color: #d74815;
	font-size: 30px;
}

.main-box{
	height: 90vh;
	overflow-y: scroll;
	margin-bottom: 6%;
	padding-top: 2%;
}

.main-box-2{
	height: 90vh;
	overflow-y: scroll;
	margin-bottom: 6%;
}

.footer{
	background: #d74815;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	width: 80% !important;
	margin-right: auto;
	margin-left: auto;
}

.footer-nav .fa{
	display: block;
	font-size: 30px;
}
.footer-nav a{
	color: #fff;
	text-decoration: none;
}


.page-header{
	padding: 20px 0px 30px 0px;
}
.page-username{
	display: block;
	text-transform: capitalize;
}
.page-name{
	padding-top: 20px;
}
.page-user-picture img{
  width: 70px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.machine-image img{
	width: 250px;
	height: 150px;
	object-fit: cover;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.machine-list{
	color: #999;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.machine-bold{
	font-weight: 500;
	color: #000;
}
.machine-items{
	display: block;
	margin-bottom: 5px;
}
#result{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.thumbnail {
  height: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
}
.filebutton{
	background: #fbebf1;;
	padding: 30px;
	border-radius: 20px;
	color: #d74815;
	width: 120px;
}

.filebutton-2{
	background: #fff;
	padding: 20px 30px 20px 30px;
	border-radius: 20px;
	color: #d74815;
	width: 80px;
	font-size: ;
	text-align: center;
}
.request-form input[type=text]{
	border-radius: 20px;
	background-color: #fff;
	height: 60px;
	padding-left: 40px;
}

.chat-btn{
	height: 60px;
	width: 200px;
	margin-top: 40px;
}

.request-form textarea {
	border-radius: 20px;
	height: 200px;
	background-color: #f3f3f3;
}
.request-list{
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px 20px 10px 20px;
}

.request-title-bg{
	background: #fbe5d6;
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
.request-title-bg-2{
	background: #fbe5d6;
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.tab-pane a{
	text-decoration: none;
}
.request-img img{
	width: 150px;
	margin-right: 10px;
	padding: 10px;
}

.user-image img{
	width: 100px;
	margin-right: 10px;
	padding: 10px;
}
.expert-name{
	text-align: left;
	font-size: 18px;
	padding-left: 20px;
}
.contact-icon{
	background: #d74815;
	padding: 20px 20px 10px 20px;
	width: 80px;
	border-radius: 50px;
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.contact-icon a{
	color: #FFF;
}

.contact-icon .fa{
	color: #FFF;
	font-size: 40px;
}
.userchat-bg{
	background: #d74815;
	padding: 10px;
	border-radius: 20px;
}

.user-2-chat-bg{
	background: #f5f5f5;
	padding: 10px;
	border-radius: 20px;
}

.failure{
	padding:10px 5px 10px 5px;
	border-left: #e2cd13;
	border-left-width: 6px;
	border-left-style: solid;
}

.maintenance{
	padding:10px 5px 10px 5px;
	border-left: #db0606;
	border-left-width: 6px;
	border-left-style: solid;
}

.reminder{
	padding:10px 5px 10px 5px;
	border-left: #0000FF;
	border-left-width: 6px;
	border-left-style: solid;
}

.maintenance-text{
	color: #db0606;
}

.failure-text{
	color: #e2cd13;
}

.notification-date{
	color: #999;
}
.monitor-machine a{
	color: #FFF;
}

.pie {
  --w:300px;
  
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  background: white;
  border-radius: 50%;
}
.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.chatbox-page{
	width: 100%;
	background: #fdfcf9;
	margin-bottom: 20px;
	
}

.chatbox-1{
	width: 80%;
	padding: 10px;
	background: #fdfcf9;
	float: left;
	color: #999;
	border-radius: 20px;
	margin-bottom: 10px;
}

.chatbox-2{
	width: 80%;
	padding: 10px;
	background: #e0fcd4;
	float: right;
	color: #000;
	border-radius: 20px;
	margin-bottom: 10px;

}

.chat-header{
	background: #fdfcf9;
	border-radius: 20px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.chat-header-icon .fa{
	font-size: 40px;
	color: ;
	padding: 0px 10px 0px 10px;
}

.has-search .form-control {
    padding-left: 4.375rem;
    width: 100%;
    border-radius: 20px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #d74815;
}

.notification-bg{
	background: #fdfcf9;
	padding: 20px 50px 20px 50px;
	border-radius: 30px;
}

.simulate-page{
  position: relative;
}

.simulate-progress{
	width: 100%;
  height: 100%;            
  position: absolute;
  top: 10%;
  left: 3%;
  opacity: 0.8; 
  z-index: 200;

}

.closeDiv{
	color: red;
	font-size: 20px;
	font-weight: bold;
}

.call-picture{
	height: 80vh;
	display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.call-picture img{
	width: 20%;
}

.video-icon-section{
	margin-bottom: 50px;
}
.call-icon{
	height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.call-icon img{
	width: 60%;
	height: 60%;
	top: 50%;
}

.callers-icon{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 100px;
	border-radius: 20px;
	background-color: #bbb;
	display: flex;
  justify-content: center;
  padding: 10px;
}

.callers-icon img{
	width: 50%;
	display: inline-block;
}

.connect-smartglass img{
	width: 100%;
	height: 50vh;
}

.machine-alarm{
	padding: 0px 50px;
}

.alarm-post{
	margin-bottom: 20px;
	width: 100%;
}

.chat-button{
	font-weight: bold;
	text-align: right;
}

.mce-notification {display: none !important;}