{% include "templates/frontend/includes/header.html" %}
{% include "templates/frontend/includes/nav.html" %}
{% load static %}



<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container pb-20 pt-20">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Search Book</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Search Book</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact pb-200">
      <div class="container">

        <div class="row d-flex justify-content-center">

          <div class="col-lg-6 mt-5 mt-lg-0">
            {% for message in messages %}

            <div class="alert alert-danger"> {{ message }} </div> 
            
            {% endfor  %}
            <div class="d-flex justify-content-center"><h4>Search by Title or Author</h4></div>
            <form action="/books/search" method="get" role="form" class="php-email-form">
        
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="search" id="subject" placeholder="Enter Book Title or Author" required>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                    <div class=" text-center"><input class="btn btn-danger col-md-12" type="submit" name="submit" value="Search Book"> </div>
                </div>
             
              </div>
             
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



{% include "templates/frontend/includes/footer.html" %}