{% include "templates/backend/includes/header.html" %}
{% include "templates/backend/includes/nav.html" %}
{% load static %}


 <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/
ui-lightness/jquery-ui.css'    rel='stylesheet'>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" >
    </script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" > </script>
<main id="main" class="main">

<div class="pagetitle">
<h1>Student Book Information</h1>
<nav>

</nav>
</div><!-- End Page Title -->

<section class="section">
<div class="row">
<div class="col-lg-12">

    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Student Information</h5>

        <div class="table-responsive">

                <table class="table table-bordered ">
                  <thead>
                    <tr>
                      <th>Name </th>
                      <th>Registeration Number</th>
                      <th>Email</th>
                      <th>Phone</th>
                  
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr>
                      <td>{{ student.first_name }} {{ student.last_name }}</td>
                      <td>{{ student.student_id }}</td>
                      <td>{{ student.email }}</td>

                      <td>{{ student.phone }}</td>
                  
                    </tr>
               
                   
                  </tbody>
                </table>
                </div>
        <h5 class="card-title">Register Book Information</h5>
        {% for message in messages %}

        <div class="alert alert-success"> {{ message }} </div> 

        {% endfor  %}
        <!-- General Form Elements -->
        <form action="/users/student-books/{{ student.student_id }}" method="POST" role="form" class="" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="student_id" value="{{ student.student_id }}">


        <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Book Title</label>
            <div class="col-sm-10">
            <input type="text" name="book_title" class="form-control" required>
            </div>
        </div>

    
        <div class="row mb-3">
            <label for="inputNumber" class="col-sm-2 col-form-label">Book Author</label>
            <div class="col-sm-10">
            <input type="text" name="book_author" class="form-control" required>
            </div>
        </div>

       <div class="row mb-3">
            <label for="inputNumber" class="col-sm-2 col-form-label">Book Category</label>
            <div class="col-sm-10">
            <select name="book_category" class="form-control" required>
                <option value="">Select Book Category</option>
                <option value="Accounting">Accounting</option>
                <option value="Engineering">Engineering</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Novels">Novels</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Biology">Biology</option>
                <option value="Religion">Religion</option>
                <option value="Fiction">Fiction</option>
                <option value="History">History</option>
            </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputNumber" class="col-sm-2 col-form-label">Date to Return</label>
            <div class="col-sm-10">
            <input type="text" id="my_date_picker" placeholder="Return Date" name="date_return" class="form-control" required>
            </div>
        </div>

        

     
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        </form><!-- End General Form Elements -->


 <h5 class="card-title">Book History</h5>

        <div class="table-responsive">

            <table class="table table-bordered ">
              <thead>
                <tr>
                  <th>Book Title </th>
                  <th>Book Author</th>
                  <th>Book Category</th>
                  <th>Collected Date</th>
                  <th>Date to Return</th>
                  <th>Book Status</th>

              
                </tr>
              </thead>
              <tbody>
              {% for book in books %}
                <tr>
                  <td>{{ book.book_title }}</td>
                  <td>{{ book.book_author}}</td>
                  <td>{{ book.book_category }}</td>
                  <td>{{ book.date_collected }}</td>
                  <td>{{ book.date_return }}</td>
                  
                  <td>
                    {% if book.book_status == "out" %}
                        <form action="/users/student-book-status/{{ student.student_id }}/{{ book.order_id }}" method="POST" data-confirm="Are you sure you want to mark book returned?">
                           {% csrf_token %}

                          <input type="hidden" name="book_status" value="returned">
                          <input class="btn btn-success" type="submit" name="submit" value="Mark returned">
                        </form>
                    {% else %}
                         <h5>Book Returned</h5>
                    {% endif %}
                  </td>
              
                </tr>
            {% endfor %}
               
              </tbody>
            </table>
            </div>
    </div>
    </div>

</div>

</div>
</section>

</main><!-- End #main -->
<script>
$(function() {
    $( "#my_date_picker" ).datepicker({
        dateFormat: 'yy-mm-dd',
        
    });
});
</script>
<script type="text/javascript">
    $(document).on('submit', 'form[data-confirm]', function(e){
    if(!confirm($(this).data('confirm'))){
        e.stopImmediatePropagation();
        e.preventDefault();
    }
});
</script>

{% include "templates/backend/includes/footer.html" %}