{% include "templates/frontend/includes/header.html" %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
{% load static %}



<main id="main" class="mt-50 main-box ">

    

    <!-- ======= Contact Section ======= -->
    <section class="page-content ">
      <div class="container">

        <div class="row d-flex justify-content-center ">

         
          <div class="col-lg-12 machine-bg2 ">

            <div class="row mt-10 mb-3 pt-40 page-white">
              <div class="col-12 pb-20">
                <div class="font-weight-bold text-center ">Status Report</div>
              </div>

              <div class="col-12 pb-10 pt-10 bg-primary">
                <div class="row">
                  <div class="col-4 monitor-machine">
                    <div class="font-weight-bold text-left text-white"> <a href="/expert/dashboard"> <i class="fa fa-angle-left"></i> Back</a> </div>
                  </div>
                  <div class="col-4 text-center text-white font-weight-bold">
                    {{ machine.machine_name }}
                  </div>
                  <div class="col-4">
                    <div class="font-weight-bold text-right text-white">My Device <i class="fa fa-angle-right"></i></div>
                  </div>
                </div>
              </div>
        
              <div class="col-12 mt-20 text-center">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="bg-orange text-white mb-3">
                      Cooling Fliud Level
                    </div>
                      
                      <div class="progress blue">
                         <span class="progress-left">
                              <span class="progress-bar"></span>
                         </span>
                         <span class="progress-right">
                                  <span class="progress-bar"></span>
                         </span>
                         <div class="progress-value">90%</div>
                       </div>

                  </div>
                  <div class="col-md-6 col-12">
                    <div class="bg-orange text-white mb-3">
                      Temprature
                    </div>
                        
                        <div class="progress yellow">
                           <span class="progress-left">
                                  <span class="progress-bar"></span>
                           </span>
                           <span class="progress-right">
                                <span class="progress-bar"></span>
                           </span>
                           <div class="progress-value">75%</div>
                         </div>
                  </div>
                </div>
              </div>

              <div class="col-12 mt-20">
                <div class="col-xs-12 text-center">
                    <div class="bg-orange text-white">
                      Load Graph
                    </div>
                  </div>
                
                  <div id="donut-chart"></div>
                
                  <script>
                    var chart = bb.generate({
                      data: {
                        columns: [
                          ["Speed", 2],
                          ["Water", 3],
                          ["Temprature", 5],
                        ],
                        type: "donut",
                        onclick: function (d, i) {
                          console.log("onclick", d, i);
                        },
                        onover: function (d, i) {
                          console.log("onover", d, i);
                        },
                        onout: function (d, i) {
                          console.log("onout", d, i);
                        },
                      },
                      donut: {
                        title: "70",
                      },
                      bindto: "#donut-chart",
                    });
                  </script>
              </div>

              <div class="col-12 mt-20">
              <div class="col-xs-12 text-center">
                    <div class="bg-orange text-white">
                      <h4>Work Load</h4>
                    </div>
                  </div>
                  <div class="container">
      
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </body>
  
  <script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday",
        ],
        datasets: [
          {
            label: "work load",
            data: [2, 9, 3, 17, 6, 3, 7],
            backgroundColor: "rgba(153,205,1,0.6)",
          },
          {
            label: "free hours",
            data: [2, 2, 5, 5, 2, 1, 10],
            backgroundColor: "rgba(155,153,10,0.6)",
          },
        ],
      },
    });
  </script>
              </div> 
            
            </div>

    

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



{% include "templates/frontend/expert/includes/nav.html" %}
{% include "templates/frontend/includes/footer-dashboard.html" %}