<div class="row page-header">
    <div class="col-8 ">
      <div class="row">
        <div class="col-lg-2 col-3 page-user-picture"><img src="/media/{{ user.user_picture }}" width="70px" ></div>
        <div class="col-lg-10 col-9 text-left page-name">Hi <img src="/static/frontend/images/waving-hand.png" width="20px">, <span class="page-username text-orange font-weight-bold">{{ user.first_name }}</span></div>
      </div>
    </div>
    <div class="col-4 text-right text-orange"><a href="/users/logout"><i class="fa fa-sign-out"></i> Logout</a></div>
  </div>