{% include "templates/frontend/includes/header.html" %}
{% load static %}

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 home">
        
      </div>
    </div>
  </div>
</section>

<section class="mt-4 mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row mt-2 ">
          <div class="col-lg-12 text-center">
              <h5>Select your Login</h5>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-8 offset-2">
            <div class="row">
              <div class="col-lg-4 col-12"><a class="btn btn-orange btn-big mt-3" href="/worker/login">Login as Worker</a></div>
            <div class="col-lg-4 col-12"><a class="btn btn-orange btn-big mt-3" href="/expert/login">Login as Expert</a></div>
            <div class="col-lg-4 col-12"><a class="btn btn-orange btn-big mt-3" href="/serviceman/login">Login as Serviceman</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include "templates/frontend/includes/footer.html" %}