<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
  
      <div class="d-flex align-items-center justify-content-between">
        <a href="/users/dashboard" class="logo d-flex align-items-center">
          <img src="" alt="">
          <span class="d-none d-lg-block">{{ site_title }}</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->
  

  
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
  
         
  
        </ul>
      </nav><!-- End Icons Navigation -->
  
    </header><!-- End Header -->
  
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
  
      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link " href="/users/dashboard">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="/users/new-user">
                <i class="bi bi-circle"></i><span>New User</span>
              </a>
            </li>
            <li>
              <a href="/users/all-users">
                <i class="bi bi-circle"></i><span>All Users</span>
              </a>
            </li>

            
          </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-machines" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Machines</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-machines" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="/users/new-machine">
                <i class="bi bi-circle"></i><span>New machine</span>
              </a>
            </li>
            <li>
              <a href="/users/all-machine">
                <i class="bi bi-circle"></i><span>All machine</span>
              </a>
            </li>
          </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-notification" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Notification</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-notification" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="/users/new-notification">
                <i class="bi bi-circle"></i><span>New notification</span>
              </a>
            </li>
            <li>
              <a href="/users/all-notification">
                <i class="bi bi-circle"></i><span>All notification</span>
              </a>
            </li>
          </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/users/students">
            <i class="bi bi-person"></i>
            <span>Students</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="/users/staff">
            <i class="bi bi-person"></i>
            <span>Staff</span>
          </a>
        </li>
  
        
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="/users/logout">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Logout</span>
          </a>
        </li><!-- End Login Page Nav -->
  
  
  
      </ul>
  
    </aside><!-- End Sidebar-->