{% load static %}

<div class="fixed-bottom">
  <div class="row ">
    <div class="footer">
      <div class="row text-white text-center">
        <div class="col-2 footer-nav"><a href="/worker/dashboard"><i class="fa fa-home"></i> Home</a></div>
        <div class="col-3 footer-nav"><a href="/worker/requests"><i class="fa fa-wpforms" ></i> Requests</a></div>
        <div class="col-3 footer-nav"><a href="/worker/contact"><i class="fa fa-envelope"></i> Contact</a></div>
        <div class="col-4 footer-nav"><a href="/worker/notification"><i class="fa fa-bell"></i> Notification
          {% if notification == 0 %}
            
          {% else %}
            <span class="badge badge-secondary" id="get-notification"></span>
          {% endif %}
        </a></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  sendRequest();

  function sendRequest(){
      $.ajax({
        type: "Get",
        url: "/worker/get-ajax-notification",
        success: 
          function(data){
             $('#get-notification').html(data);
        },
        complete: function() {
       // Schedule the next request when the current one's complete
       setInterval(sendRequest, 10000); // The interval set to 5 seconds
     }
    });
  };
});
</script>